{% load ext_links %}

<footer class="footer">
  <div class="container py-5">
    <div class="row gy-4">
      <div class="col-lg-5">
        <h6>About this site</h6>
        <p>I am a backend engineer who builds reliable systems and expressive portfolio experiences. My work blends modern UX with strong architecture and long-term maintainability.</p>
        <a class="theme-link" href="{% url 'about_me' %}">Learn more about me<i class="fas fa-arrow-right ml-2"></i></a>
      </div>
      <div class="col-lg-3">
        <h6>Quick links</h6>
        <ul class="list-unstyled">
          <li><a class="theme-link" href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a class="theme-link" href="{% url 'blog:home' %}">Blog</a></li>
          <li><a class="theme-link" href="{% url 'contact:contact' %}">Contact</a></li>
          <li><a class="theme-link" href="{% url 'cv' %}">CV</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h6>Get in touch</h6>
        <ul class="list-unstyled">
          <li><a class="theme-link" href="#">England, UK</a></li>
          <li><a class="theme-link"><i class="fas fa-envelope mr-2"></i><span class="text-white">hasmeedcoder@gmail.com</span></a></li>
          <li><a class="theme-link" href="{% url 'contact:contact' %}">Send a message</a></li>
        </ul>
        <div class="mt-3">
          <a href="{% linkedin_profile_link %}" target="_blank" rel="noreferrer" class="theme-link mr-3"><i class="fab fa-linkedin-in"></i></a>
          <a href="{% stack_overflow_profile_link %}" target="_blank" rel="noreferrer" class="theme-link mr-3"><i class="fab fa-stack-overflow"></i></a>
          <a href="{% github_profile_link %}" target="_blank" rel="noreferrer" class="theme-link"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
  {% include 'bottom_bar.html' %}
</footer>
