asgiref==3.11.1
cffi==2.0.0
crispy-bootstrap4==2026.2
cryptography==47.0.0
Django==6.0.3
django-axes==8.3.1
django-crispy-forms==2.6
django-encrypted-model-fields==0.6.5
django-formtools==2.5.1
django-guardian==3.3.1
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-recaptcha==4.1.0
django-shapeshifter==18.9.23
django-tinymce==5.0.0
django-two-factor-auth==1.18.1
django-widget-tweaks==1.5.1
Faker==12.0.1
iniconfig==2.3.0
mixer==7.2.2
packaging==26.0
pillow==12.1.1
pluggy==1.6.0
# psycopg2==2.9.11
pycparser==3.0
Pygments==2.19.2
pytest==9.0.2
pytest-django==4.12.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
qrcode==8.2
six==1.17.0
sqlparse==0.5.5
whitenoise==6.12.0
