<section class="work-section py-3">
  <h3 class="text-uppercase cv-section-heading mb-4">Career History</h3>
  <div class="item mb-3">

    <!-- MHR as a Senior Integrations Engineer & Python Web Engineer -->
    <div class="item-heading row align-items-center mb-2">
      <h6 class="item-title col-12 col-md-8 col-lg-8 mb-2 mb-md-0">Senior Software Engineer (Django)</h6>
      <div class="item-meta col-12 col-md-4 col-lg-4 text-muted text-left text-md-right">Democrance | Mar 22 - Jan 26</div>
      <!-- <h6 class="item-title col-12 col-md-8 col-lg-8 mb-2 mb-md-0">Python Web Engineer</h6> -->
      <!-- <div class="item-meta col-12 col-md-4 col-lg-4 text-muted text-left text-md-right">MHR | Jan 21 - Jun 23</div> -->
    </div>
    <div class="item-content">
      <ul class="cv-list">
        <li>
          Spearheaded the end-to-end architecture, development, and launch of multiple, high-value insurance products such as Cyber, Professional
Indemnity, Travel and many more for top-tier clients (e.g., AIG), from initial concept through to production deployment and maintenance.
        </li>
        <li>
          Led the design and development of scalable, secure backend systems using Python, defining technical standards and mentoring cross-
functional teams to ensure robust and maintainable codebases.
        </li>
        <li>
          Architected and delivered a suite of server-side rendered (SSR) applications utilizing the Colander framework, ensuring robust performance,
          form validation, and seamless user experiences for complex insurance workflows.
        </li>
        <li>
          Conceived and built a dynamic, generic report generator that served as a unified analytics platform across all
          products. This empowered client management with deep, customizable data insights, directly contributing to a 25% increase in annual
          revenue through improved lead acquisition and retention strategies.
        </li>
        <li>
          Designed and implemented a sophisticated hierarchical referral system for internal and external quote
          management. This automated complex workflow, eliminated manual errors and email dependencies, and streamlined the entire referral
          process, boosting operational efficiency.
        </li>
      </ul>
    </div>

    <!-- Deutsche Bank as an HR BI Consultant -->
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-7 mb-2 mb-md-0">Software Engineer</h4>
      <div class="item-meta col-12 col-md-6 col-lg-5 text-muted text-left text-md-right">
        Menaget | Apr 18 - Mar 22
      </div>
    </div>
    <div class="item-content">
      <ul class="cv-list">
        <li>
          Directed the end-to-end development of multiple revenue-generating applications from concept to production, leading cross-functional
teams of backend and frontend engineers and managing project planning and execution.
        </li>
        <li>
          Drove a key business transformation by designing and building a large-scale ETL pipeline; automated a manual, error-prone process,
slashing its cycle time from 1 month to 1 day and unlocking new data-driven capabilities for the client.
        </li>
        <li>
Architected a modular, microservices-based ecosystem that served as the foundational backend for all client web and mobile applications,
ensuring scalability, independent deployability, and high availability.
        </li>
        <li>
Engineered critical platform features including a real-time chat system using WebSockets for instant user communication and a geospatial
data processing service with Mapbox for advanced location-based functionality.
        </li>
        <li>
Optimized infrastructure and cost by leveraging a serverless architecture (AWS Lambda) for data pipelines and implementing event-driven
workflows with RabbitMQ for efficient, asynchronous task processing.
        </li>
        <li>
Enhanced data acquisition capabilities by developing automated scraping scripts with Python and Selenium, systematically reducing manual
data collection efforts.
        </li>
      </ul>
    </div>

    <!-- Extras -->
    <small>Earlier Career: Backend engineering roles focused on Python developer, PHP/Lavavel developer, database design & development and production deployments.
    </small>
  </div>
</section>
