<section class="education-section py-3">
  <h3 class="text-uppercase cv-section-heading mb-4">Education</h3>
  <ul class="list-unstyled cv-education-list">
    <li class="mb-3">
      <div class="cv-degree font-weight-bold">BSc Computer Application</div>
      <div class="cv-degree-org text-muted">Bangalore University</div>
      <div class="cv-degree-time text-muted">Bangalore, India</div>
    </li>
    <li class="mb-3">
      <div class="cv-degree font-weight-bold">National Diploma Statistics</div>
      <div class="cv-degree-org text-muted">Federal School of statistics</div>
      <div class="cv-degree-time text-muted">Ibadan, Nigeria</div>
    </li>
  </ul>
</section>
