{% load static %}

<div class="isotope-item col-md-6 mb-5 pythonapp djangoapp">
  <div class="card project-card">
    <div class="row no-gutters">
      <div class="col-lg-4 card-img-holder">
        <img class="card-img" src="{% static 'assets/images/telscare.png' %}" alt="image">
      </div>
      <div class="col-lg-8">
        <div class="card-body">
          <h5 class="card-title"><a href="https://www.telscare.com" target="_blank" class="theme-link">Tele-Health Platform</a></h5>
          <p class="card-text">A comprehensive solution for managing tele-health services with a focus on user experience and operational efficiency.</p>
        </div>
      </div>
    </div>
    <div class="link-mask">
      <a class="link-mask-link" href="https://www.telscare.com" target="_blank"></a>
      <div class="link-mask-text">
        <a class="btn btn-secondary" href="https://www.telscare.com" target="_blank">
          <i class="fas fa-arrow-circle-right mr-2"></i>
          View Telscare Project
        </a>
      </div>
    </div>
  </div>
</div>
