{% extends 'base.html' %}

{% block title %}{{ block.super }} | Front End Web Development Skills{% endblock title %}

{% block content %}
  <!--- Title and Subtitle Section -->
  <section class="cta-section theme-bg-light py-3">
    <div class="container single-col-max-width pt-1">
      <h2 class="heading text-center">Front End Web Development Skills</h2>
    </div>
  </section>

  <!--- Opening Statement -->
  <section class="project px-3 py-5 p-md-5">
    <div class="container">
      While my primary focus is on back-end development with Python and Django, I have also developed a strong proficiency in front-end technologies. I am skilled in JavaScript, HTML5, Sass, and Bootstrap, which allow me to create responsive and visually appealing user interfaces. I have experience building dynamic web applications that provide seamless user experiences across devices. My front-end development skills complement my back-end expertise, enabling me to deliver full-stack solutions that are both functional and engaging.
    </div>
  </section>

  <!-- Skills -->
  {% include 'skills/skill/javascript.html' %}
  {% include 'skills/skill/html5.html' %}
  {% include 'skills/skill/sass.html' %}
  {% include 'skills/skill/bootstrap.html' %}
  {% include 'components/skills_nav.html' %}
{% endblock content %}